<?xml version="1.0" encoding="UTF-8" ?>
 
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.novetn.infra.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.novetn.infra.modules.codegroup.CodeGroup"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
<!-- 		
		SELECT
			a.seq
			, a.name_ko
			, a.name_eng
			, (SELECT COUNT(b.codeGroup_seq) FROM Code b WHERE 1=1 AND a.seq = b.codeGroup_seq) AS codeamount
			, a.useNY
			, a.delNY
		FROM CodeGroup a
 -->
 		SELECT *
 		FROM codeGroup2	
		
	</select>

</mapper>