<?xml version="1.0" encoding="UTF-8" ?>
 
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.novetn.infra.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.novetn.infra.modules.codegroup.CodeGroup"></resultMap>
	
	<sql id = "selectCommon">
		FROM CodeGroup a
		WHERE 1=1
		
		<if test="shDelNy != null and !shDelNy.equals('')">AND a.delNY = #{shDelNy}</if>
		<choose>
			<when test="shOptionDate == 1">AND a.regDate BETWEEN #{shstartDate} AND #{shendDate}</when>
			<when test="shOptionDate == 2">AND a.modDate BETWEEN #{shstartDate} AND #{shendDate}</when>
		</choose>
		
		<choose>
			<when test="shOption == 1">AND a.codegroupNum LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 2">AND a.name_ko LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND a.name_eng LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			SELECT
				a.seq
				, a.codegroupNum
				, a.name_ko
				, a.name_eng
				, (SELECT COUNT(b.codeGroup_seq) FROM Code b WHERE 1=1 AND a.seq = b.codeGroup_seq) AS codeamount
				, a.regDate
				, a.modDate
				, a.delNY
		<include refid="selectCommon" />	
		<include refid="Base.selectListLowerForMysql" />	
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<insert id="insert">
		INSERT INTO CodeGroup (
			seq
			, codegroupNum
			, name_ko
			, name_eng
			, codeamount
			, regDate
			, modDate
			, useNY
			, delNY
		)
		VALUES (
			#{seq}
			, #{codegroupNum}
			, #{name_ko}
			, #{name_eng}
			, #{codeamount}
			, #{regDate}
			, now()
			, 1
			, 0
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
		
	</insert>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.codegroupNum
			, a.name_ko
			, a.name_eng
			, (SELECT COUNT(b.codeGroup_seq) FROM Code b WHERE 1=1 AND a.seq = b.codeGroup_seq) AS codeamount
			, a.regDate
			, a.modDate
			, a.delNY
		FROM CodeGroup a
		WHERE 1=1
			AND seq = #{seq}
	</select>

	<update id="update">
		UPDATE CodeGroup
		SET
			codegroupNum = #{codegroupNum}
			, name_ko = #{name_ko}
			, name_eng = #{name_eng}
			, modDate = now()
		WHERE
			seq = #{seq}
	</update>
	
	<update id="uelete">
		UPDATE CodeGroup
		SET
		\
			delNY = 1
		WHERE 
			seq = #{seq}
	</update>
	
	<delete id="delete">
		DELETE FROM CodeGroup
		WHERE
			seq = #{seq}
	</delete>
	
</mapper>