<?xml version="1.0" encoding="UTF-8" ?>
 
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.novetn.infra.modules.item.ItemMapper">

    <resultMap id="resultMapObj" type="com.novetn.infra.modules.item.Item"></resultMap>
	
	<sql id = "selectCommon">
		FROM item a
			inner join Code b ON a.deliverymethod = b.seq
		WHERE 1=1
		
		<if test="shDelNy != null and !shDelNy.equals('')">AND a.delNY = #{shDelNy}</if>

		<choose>
			<when test="shOptionDate == 1">AND a.modDate BETWEEN #{shstartDate} AND #{shendDate}</when>
		</choose>
		
		<choose>
			<when test="shOption == 1">AND a.title LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 2">AND site LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
		
		SELECT
			a.seq
			, a.title
			, a.discount
			, a.price
			, a.released
			, a.deliverymethod
			, (SELECT b.cdname_ko FROM Code b WHERE a.shoppingsite = b.seq) AS site
			, a.shippingfee
			, b.cdname_ko
			, a.stock
			, a.modDate
			, a.useNY
			, a.delNY
		<include refid="selectCommon" />	
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<insert id="insert">
		INSERT INTO item (
			title
			, discount
			, price
			, released
			, site
			, shippingfee
			, deliverymethod
			, stock
			, modDate
			, useNY
			, delNY
		)
		VALUES (
			#{title}
			, #{discount}
			, #{price}
			, #{released}
			, #{site}
			, #{shippingfee}
			, #{deliverymethod}
			, #{stock}
			, now()
			, 1
			, 0
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
		
	</insert>

	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.*
		FROM item a
		WHERE 1=1
			AND a.seq = #{seq}
	</select>
	
	<update id="update">
		UPDATE item 
		SET
			title = #{title}
			, discount = #{discount}
			, price = #{price}
			, released = #{released}
			, site = #{site}
			, shippingfee = #{shippingfee}
			, deliverymethod = #{deliverymethod}
			, stock = #{stock}
			, modDate = now()
			, useNY = #{useNY}
			, delNY = #{delNY}
		WHERE 
			seq = #{seq}
	</update>
	
	<update id="uelete">
		UPDATE item
		SET
			delNY = 1
		WHERE 
			seq = #{seq}
	</update>
	
	<delete id="delete">
		DELETE FROM item
		WHERE
			seq = #{seq}
	</delete>
	
	<!-- uploaded s -->
	<insert id="insertUploaded">
		INSERT INTO itemUploaded (
			type
			,defaultNY
			,sort
			,path
			,originalName
			,uuidName
			,ext
			,size
			,delNY
			,pseq
		) values (
			2
			,#{defaultNY}
			,#{sort}
			,#{path}
			,#{originalName}
			,#{uuidName}
			,#{ext}
			,#{size}
			,0
			,#{pseq}
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	<!-- uploaded e -->
	
	<select id="selectUploadedimg" resultMap="resultMapObj">
		SELECT
			a.*
			,b.*
			FROM item a
			LEFT JOIN itemUploaded b ON a.seq = b.pseq
			WHERE 1=1
				AND a.seq = #{seq}
			ORDER BY b.sort
	</select>
	
	<select id="selectItemimg" resultMap="resultMapObj">
		SELECT
			*
		FROM itemUploaded
		WHERE 1=1
			AND pseq = #{pseq}
	</select>
	
	<select id="selectLastSeq" resultType="Integer">
		SELECT
			seq
		FROM item
		ORDER BY seq DESC
			LIMIT 1
	</select>
	
	<!-- 메인페이지 hotdeal div -->
	<select id="selectHotdealwmp" resultMap="resultMapObj">
		SELECT
			a.*
			, b.*
		FROM item a
			LEFT JOIN itemUploaded b ON a.seq = b.pseq
		WHERE 1=1
		AND b.defaultNY = 1 
		AND a.mainDiv = 1
	</select>
	
	<select id="selectHotdealtmon" resultMap="resultMapObj">
		SELECT
			a.*
			, b.*
		FROM item a
			LEFT JOIN itemUploaded b ON a.seq = b.pseq
		WHERE 1=1
		AND b.defaultNY = 1
		AND a.mainDiv = 10
	</select>
	
	<select id="selectHotdeal11st" resultMap="resultMapObj">
		SELECT
			a.*
			, b.*
		FROM item a
			LEFT JOIN itemUploaded b ON a.seq = b.pseq
		WHERE 1=1
		AND b.defaultNY = 1
		AND a.mainDiv = 15
	</select>
	
</mapper>